.sidebar-custom {
  padding: 1rem;
  background-color: var(--surface-ground); /* PrimeNG theme variable */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-item {
  list-style: none;
  margin-bottom: 0.5rem;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  color: var(--text-color);
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: var(--primary-color);
  color: var(--surface-overlay);
}

.pi {
  margin-right: 0.5rem;
}

h3 {
  font-size: xx-large;
}

a {
  font-size: larger;
}

@media (max-width: 768px) {
  .sidebar-custom {
    width: 80vw; /* Expand for better usability on smaller screens */
  }
}