<p-sidebar [(visible)]="visible" [position]="'left'" [baseZIndex]="10000"
  [showCloseIcon]="true" [modal]="true" class="sidebar-custom">
  <h3>Kinetic - Challenge</h3>
  <ul>
    <li *ngFor="let item of items" class="nav-item">
      <a [routerLink]="item.routeLink" class="nav-link"
        (click)="closeSidebar()">
        <i class="pi" [ngClass]="item.icon"></i>
        <span>{{ item.label }}</span>
      </a>
    </li>
  </ul>
</p-sidebar>

<button pButton type="button" icon="pi pi-bars" class="p-button-rounded p-button-outlined"
  (click)="toggleSidebar()">
</button>