<p-dialog [(visible)]="display" [modal]="true" [style]="{width: '90vw', maxWidth: '500px'}"
    (onHide)="onDialogClose()" header="Edit Product">
    <!-- <p-panel header="Product Form" styleClass="product-form-panel"> -->
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="p-fluid">
        <!-- Name Input -->
        <div class="p-field">
            <label for="name">Name</label>
            <input pInputText id="name" formControlName="name" placeholder="Enter product name" />
            <small *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="p-error">
                Name is required.
            </small>
        </div>

        <!-- Description Input -->
        <div class="p-field">
            <label for="description">Description</label>
            <input pInputText id="description" formControlName="description" placeholder="Enter product description" />
        </div>

        <!-- Categories -->
        <div class="p-field">
            <label for="categories">Categories</label>
            <p-multiSelect id="categories" [options]="categories" formControlName="selectedCategories"
                optionLabel="name" defaultLabel="Select Categories" display="chip"></p-multiSelect>
        </div>

        <!-- Price Input -->
        <div class="p-field">
            <label for="price">Price</label>
            <input pInputText id="price" type="number" formControlName="price" placeholder="Enter price" />
            <small *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="p-error">
                Price must be greater than 0.
            </small>
        </div>

        <!-- Quantity Input -->
        <div class="p-field">
            <label for="quantity">Quantity</label>
            <input pInputText id="quantity" type="number" formControlName="quantity" placeholder="Enter quantity" />
            <small *ngIf="productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched" class="p-error">
                Quantity must be at least 1.
            </small>
        </div>

        <!-- Form Buttons -->
        <div class="p-field-button">
            <button pButton type="submit" label="Save" class="p-button-success"
                [disabled]="productForm.invalid"></button>
            <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="onCancel()"></button>
        </div>
    </form>
    <!-- </p-panel> -->
</p-dialog>